<link rel="stylesheet" href="~/css/aboutUs.css" />
<div class="about-section">
    <h1>About Us Page</h1>
    <p>I am Ofek Shaked.</p>
    <p>This is my first asp.net Project</p>
</div>

<h2 class="text-align-center">My Team</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="~/assets/ofekPic.jpeg" alt="Ofek" class="img-person-width">
            <div class="container">
                <h2>Ofek Shaked</h2>
                <p class="title">CEO & Founder</p>
                <p>Im the creator of this website.</p>
                <p>ofekshaked1999@gmail.com</p>
                
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/w3images/team2.jpg" alt="Mike" class="img-person-width">
            <div class="container">
                <h2>Mike Ross</h2>
                <p class="title">Art Director</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>mike@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/w3images/team3.jpg" alt="John"  class="img-person-width">
            <div class="container">
                <h2>John Doe</h2>
                <p class="title">Designer</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>john@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</div>