<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url('https://www.idf.il/media/16195/whatsapp-image-2017-10-11-at-113432-am.jpeg?anchor=center&mode=crop&width=450&height=300&rnd=131682640660000000');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
</head>
<body>

    <h2 class="homePage">הדרך שלכם להצלחה עוברת אצלנו.</h2>

    <h2 class="homePage">
        במהלך השירות שלכם כסף רב יעבור בין היידים שלכם,
        בואו תלמדו איך לנצל אותו לטובתכם האישית ולמטרות אותם תרצו להשיג בשחרור המיוחל.
    </h2>
    <img src="        https://media.giphy.com/media/5e22CwMaD4oMSk3Qpc/giphy.gif" />
    <div>
        <h1 class="homePage">
            למידע נוסף הירשמו לאתר שלנו!!!!
        </h1>
    </div>

</body>
</html>