@inject IAccountService service
@model List<Expenses>

<link rel="stylesheet" href="~/css/shoppingCartPage.css" />
<div class="container mt-5 p-3 rounded cart">
    <div class="row no-gutters">
        <div class="col-md-8">
            <div class="product-details mr-2">
                <div class="d-flex flex-row align-items-center"><i class="fa fa-long-arrow-left"></i><span class="ml-2">Continue Shopping</span></div>
                <hr>
                <h6 class="mb-0">Shopping cart</h6>
                <div class="d-flex justify-content-between">
                    <span>Months: @Model.Count </span>

                </div>
                @{ foreach (var item in Model)
                    {
        <partial name="_ShoppingCartItem" model="item" /> } }

            </div>
        </div>

    </div>
</div>
@section Scripts {
    <script src="~/js/shoppingCart.js"></script>
}